.carousel:firstChild {
  /*background: url('images/eda77c500968dee4ba373de647fa9789.png') no-repeat center top/cover;*/
}

.carousel:nthChild(2) {
  /*background: url('172503d9b9e6ad79c9120a150e7ace08.png') no-repeat center top/cover;*/
}

.carousel:nthChild(3) {
  /*background: url('../../14206973444bdb44967be234a824f5aa.png') no-repeat center top/cover;*/
}

.carousel:nthChild(4) {
  /*background: url('1f88a67e5673f91d1223589bf8eea896.png') no-repeat center top/cover;*/
}

img {
  width: 100%;
}

.buttons button{
  border: solid 2px white;
  background-color: pink; /*transparent*/
  color: white;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  font-size: 14px;
}

.buttons button:hover {
  background-color: white;
  color: black;
}

.buttons button#prev {
  position: absolute;
  bottom: calc((100vh - 55px)/2);
  left: calc(55vw + 15px);
  padding: 6px 10px 6px 8px;
}

.buttons button#next {
  position: absolute;
  bottom: calc((100vh - 55px)/2);
  padding: 6px 8px 6px 10px;
  right: 15px;
}
