.slider {
  /*display: flex;*/
  position: relative;
  overflow: hidden;
  height: calc(100vh - 55px);
  width: 100%;
  object-fit: contain;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide:first-child {
  background: url('../../images/cnd-ice-main-desktop-Macbook.png') no-repeat center top/contain;
}

.slide:nth-child(2) {
  background: url('../../images/cnd-ice-main-iPhone.png') no-repeat center top/contain;
}

.slide:nth-child(3) {
  background: url('../../images/cnd-ice-sunshine-iPhone.png') no-repeat center top/contain;
}

.slide:nth-child(4) {
  background: url('../../images/cnd-ice-update-desc-iPhone.png') no-repeat center top/contain;
}

.buttons button{
  background-color: transparent; /*transparent*/
  border: none;
  color: black;
  cursor: pointer;
  outline: none;
  font-size: 22px;
}

.buttons button:hover {
}

.buttons button#prev {
  position: absolute;
  bottom: calc((100vh - 55px)/2);
  left: calc(55vw + 15px);
  padding: 6px 10px 6px 8px;
}

.buttons button#next {
  position: absolute;
  bottom: calc((100vh - 55px)/2);
  padding: 6px 8px 6px 10px;
  right: 15px;
}
