.slider {
  position: relative;
  overflow: hidden;
  height: 600px;/*calc(100vh - 55px);*/
  width: calc(45vw);
  justify-content: space-between;
  vertical-align: middle;
  display: flex;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide:first-child {
  background: url('../../images/cnd-ice-main-desktop-Macbook.png') no-repeat center center/contain;
}

.slide:nth-child(2) {
  background: url('../../images/cnd-ice-main-iPhone.png') no-repeat center top/contain;
}

.slide:nth-child(3) {
  background: url('../../images/cnd-ice-sunshine-iPhone.png') no-repeat center top/contain;
}

.slide:nth-child(4) {
  background: url('../../images/cnd-ice-update-desc-iPhone.png') no-repeat center top/contain;
}

#prev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 22px;
  padding-left: 35px;
}

#next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 22px;
  padding-right: 35px;
}
