body {
  margin: 0;
  font-family: 'Heebo';
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

h3:hover {
  cursor: pointer;
}

p {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

a {
  text-decoration: none;
  color: black;
}

i {
  font-size: 14px;
}

ul {
  padding: 0 20px;
}

li {
  list-style: none;
  text-decoration: none;
}

#highlight {
  text-decoration: underline;
  color: rgb(116,152,140);
}

@media(max-width: 668px) { /*587*/
  p {
    font-size: 12px;
  }
}
