/*footer {
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

footer > div {
  text-align: center;
}

footer > div > a {
  padding: 0 10px;
  text-align: center;
}

@media(max-width: 768px) {
  flex-direction: column;
}
*/
