.container {
  width: 100vw;
  display: flex;
}

.wrapper-left {
  width: 45%;
}

.wrapper-right {
  display: flex;
}

.content {
  padding: 0 60px;
}

canvas {
  justify-content: flex-end;
  width: 45vw;
}

.navbar-layout {
  display: flex;
  justify-content: flex-end;
}

@media(max-width: 768px) {
  .container {
    flex-direction: column;
  }
  canvas {
    width: 100vw;
  }
}

@media(max-width: 480px) {
  .content {
    padding: 0 20px;
  }
}
