body {
  margin: 0;
  font-family: 'Heebo';
  font-weight: 300;
}

li {
  list-style: none;
  text-decoration: none;
}

.container {
  display: flex;
}

.content-wrapper {
  width: 55vw;
}

.content {
  margin: 0 auto;
  width: 40vw;
}

canvas {
  justify-content: flex-end;
  width: 60vw;
}

.navbar-layout {
  display: flex;
  justify-content: flex-end;
}

.wrapper-carousel {
  height: calc(100vh-55px);
  width: 45vw;
}


