.navbar {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.navbar li {
  list-style: none;
  text-decoration: none;
}

.navbar li:hover {
  cursor: pointer;
}


@media(max-width: 668px) { /*587*/
  .navbar {
    width: 100%;
    font-size: 14px;
  }
}
