.navbar {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.navbar li {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
}

.navbar li:hover {
  cursor: pointer;
}

@media(max-width: 1600px) { /*587*/
  .navbar {
    width: 35%;
    font-size: 14px;
  }
}

@media(max-width: 992px) { /*587*/
  .navbar {
    width: 55%;
    font-size: 14px;
  }
}

@media(max-width: 668px) { /*587*/
  .navbar {
    width: 75%;
    font-size: 14px;
  }
}
